{% extends 'base.html' %}
{% block content %}
<section class="admin-section">
    <h1 class="section-title">Tambah Produk Baru</h1>

    <div class="product-form">
        <form method="POST" enctype="multipart/form-data">
            <div class="form-group">
                <label>Nama Produk</label>
                <input type="text" name="name" class="form-control" required>
            </div>

            <div class="form-group">
                <label>Deskripsi</label>
                <textarea name="description" class="form-control"></textarea>
            </div>
            <div class="form-group">
                <label>Berat Barang </label>
                <textarea name="description" class="form-control"></textarea>
            </div>
            <div class="form-group">
                <label>Harga (Rp)</label>
                <input type="number" name="price" step="0.01" class="form-control" required>
            </div>

            <div class="form-group">
                <label>Gambar Produk</label>
                <input type="file" name="image" class="form-control">
            </div>

            <button type="submit" class="btn btn-primary">Tambah Produk</button>
        </form>
    </div>

    <hr>

    <h2 class="section-title">Daftar Produk</h2>
    <div class="product-grid">
        {% for p in products %}
        <div class="product-card">
            <img src="{{ url_for('static', filename='uploads/' + p.image) if p.image else 'https://via.placeholder.com/200' }}" alt="{{ p.name }}">
            <h2 class="product-name">{{ p.name }}</h2>
            <p class="product-price">Rp {{ "{:,.0f}".format(p.price) }}</p>
            <a href="{{ url_for('product_detail', product_id=p.id) }}" class="btn-detail">Lihat Detail</a>
        </div>
        {% endfor %}
    </div>
</section>
{% endblock %}
